# Team 5 - Global Terrorism

![](https://www.start.umd.edu/gtd/images/START_GlobalTerrorismDatabase_TerroristAttacksConcentrationIntensityMap_45Years.png)

_For more information about the dataset, read [here](https://www.kaggle.com/START-UMD/gtd)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- Use `encoding ='ISO-8859-1'` when reading the .csv file
- There are many columns that are not really helpful for us. Can you identify and drop them?
- Can you draw a map of terrorism event locations?
- And more...

In [1]:
# Start your codes here!
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('terrorism.csv', encoding='iso-8859-1')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
data = data[['iyear', 'imonth', 'iday', 'country_txt', 'attacktype1_txt', 'targtype1_txt', 'natlty1_txt', 'gname', 'weaptype1_txt', 'nkill', 'nwound', 'motive', 'longitude', 'latitude']]
data = data.rename(columns={'iyear': 'Year', 'imonth': 'Month', 'iday': 'Day', 'country_txt': 'Country', 'attacktype1_txt': 'Attack Type', 'targtype1_txt': 'Target Type', 'natlty1_txt': 'Nationality', 'gname': 'Group Name', 'weaptype1_txt': 'Weapon Type', 'nkill': 'Killed', 'nwound': 'Wounded', 'motive': 'Motive', 'longitude': 'Longitude', 'latitude': 'Latitude'})
data['Casualties'] = data['Killed'] + data['Wounded']

In [5]:
data.head()

,Year,Month,Day,Country,Attack Type,Target Type,Nationality,Group Name,Weapon Type,Killed,Wounded,Motive,Longitude,Latitude,Casualties
0,1970,7,2,Dominican Republic,Assassination,Private Citizens & Property,Dominican Republic,MANO-D,Unknown,1.0,0.0,NaN,-69.951164,18.456792,1.0
1,1970,0,0,Mexico,Hostage Taking (Kidnapping),Government (Diplomatic),Belgium,23rd of September Communist League,Unknown,0.0,0.0,NaN,-99.086624,19.371887,0.0
2,1970,1,0,Philippines,Assassination,Journalists & Media,United States,Unknown,Unknown,1.0,0.0,NaN,120.599741,15.478598,1.0
3,1970,1,0,Greece,Bombing/Explosion,Government (Diplomatic),United States,Unknown,Explosives,NaN,NaN,NaN,23.762728,37.997490,NaN
4,1970,1,0,Japan,Facility/Infrastructure Attack,Government (Diplomatic),United States,Unknown,Incendiary,NaN,NaN,NaN,130.396361,33.580412,NaN

In [6]:
data.to_csv('terrorism2.csv', index=False)

In [27]:
print('The number of people killed by terrorists since 1970:', data['Killed'].sum())
mostFatalAttack = data.iloc[data['Killed'].idxmax()]
print('The most fatal attack is taken in', mostFatalAttack.Year, 'in', mostFatalAttack.Country, 'by', mostFatalAttack['Group Name'], 'killed', mostFatalAttack.Killed)

The number of people killed by terrorists since 1970: 411868.0
The most fatal attack is taken in 2014 in Iraq by Islamic State of Iraq and the Levant (ISIL) killed 1570.0

In [66]:
mostAttackedCountry = data.groupby(['Country']).size().sort_values(ascending=False)
print('Country with most attack:', mostAttackedCountry.index[0], 'with', mostAttackedCountry[0], 'attacks')

Country with most attack: Iraq with 24636 attacks

In [74]:
mostUsedAttackType = data.groupby(['Attack Type']).size().sort_values(ascending=False)
print('Most used attack type:', mostUsedAttackType.index[0], 'with', mostUsedAttackType[0], 'attacks')

Most used attack type: Bombing/Explosion with 88255 attacks

In [75]:
mostCommonTargetType = data.groupby(['Target Type']).size().sort_values(ascending=False)
print('Most common target type:', mostCommonTargetType.index[0], 'with', mostCommonTargetType[0], 'attacks')

Most common target type: Private Citizens & Property with 43511 attacks

In [79]:
mostCommonGroup = data[data['Group Name'] != 'Unknown'].groupby(['Group Name']).size().sort_values(ascending=False)
print('Most common group:', mostCommonGroup.index[0], 'with', mostCommonGroup[0], 'attacks')

Most common group: Taliban with 7478 attacks

In [103]:
data = data.dropna(subset=['Motive'])[~data.Motive.str.contains("unknown", case=False)]
mostCommonMotive = data.groupby(['Motive']).size().sort_values(ascending=False)
print('Most common motive:', mostCommonMotive.index[0], 'with', mostCommonMotive[0], 'attacks')

Most common motive: Part of a campaign by Islamic extremists to destabilize Algeria by weakening security forces protecting the 'apostate' Algerian government. with 66 attacks

Link to Tableau Dashboard: 
https://public.tableau.com/profile/tran7216#!/vizhome/GlobalTerrorism_16020863532530/Dashboard1?publish=yes